* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 280px;
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    height: 280px;
    position: relative;
    background-color: #010715;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
}

.footer-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 480px;
    height: 280px;
    background-image: url('img/fondo_480.jpg');
    background-size: cover;
    background-position: center;
}

/* Media query for standard monitors */
@media screen and (min-width: 768px) {
    .footer-background {
        width: 720px;
        background-image: url('img/fondo_720.jpg');
    }
}

/* Media query for large monitors */
@media screen and (min-width: 1200px) {
    .footer-background {
        width: 1080px;
        background-image: url('img/fondo_1080.jpg');
    }
}

/* Media query for large monitors */
@media screen and (min-width: 1920px) {
    .footer-background {
        width: 1800px;
        background-image: url('img/fondo_1920.jpg');
    }
}

.footer-icons {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-end;
    z-index: 2;
    margin-top: 0.2em;
    margin-right: 1.5rem;
    justify-content: center;
    height: 280px;
    position: absolute;
    right: 0;
    top: 0;
}

.footer-icons a img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 50%;
    background: #fff0;
    object-fit: contain;    
}

.footer-icons a:hover img {
    transform: scale(1.2) rotate(-8deg);
    filter: brightness(1.2);
}